body{
    font-family: "Arial",sans-serif;
}
.wrapper{
  width: 900px;
  margin: auto;
}
li{
  list-style-type:none;
  display: inline-block;
  margin: 50px 50px 50px 40px;
}
ul li:first-child{
  color:blue;
}
.block1,
.block2,
.block3,
.block4,
.block5,
.block6{
  width: 360px;
  display:inline-block;
  margin-top:50px;
}
.block1,.block3,.block5{
  margin-right: 40px;
}

button{
  display: block;
  margin-top:30px;
  margin-left: 320px;
  border: 1px solid black;
  padding: 15px 25px;
  background-color: white;
}
